/*
  CSS Reset
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* FOR REACTJS
#root,
#__next {
  isolation: isolate;
} */

/*
  Styles
  ==========================================
*/
:root {
  /*
    COLORS FOR LIGHT MODE // UNFINISHED
  */
  /* --color-white: #ffffff;
  --color-dark-900: hsl(210, 4%, 8%);
  --color-dark-700: hsl(210, 4%, 10%);
  --color-dark-500: hsl(210, 4%, 15%);
  --color-dark-300: hsl(210, 4%, 20%);
  --color-dark-200: hsl(210, 4%, 25%);
  --color-dark-100: hsl(210, 4%, 30%);

  --color-primary: var(--color-white);
  --color-secondary: var(--color-dark-700);

  --color-accent-primary: #7041fb;

  --color-accent-green-700: #2aa276;
  --color-accent-green-500: #32c08c;
  --color-accent-green-300: #41fab7; */

  --color-dark-900: hsl(210, 4%, 8%);
  --color-dark-700: hsl(210, 4%, 10%);
  --color-dark-500: hsl(210, 4%, 15%);
  --color-dark-300: hsl(210, 4%, 20%);
  --color-dark-200: hsl(210, 4%, 25%);
  --color-dark-100: hsl(210, 4%, 30%);

  --color-primary: var(--color-dark-700);
  --color-secondary: #f2f5f7;

  --color-accent-primary: #7041fb;

  --color-accent-green-700: #2aa276;
  --color-accent-green-500: #32c08c;
  --color-accent-green-300: #41fab7;

  --color-white: #ffffff;
}

* {
  color: var(--color-secondary);
}

body {
  background-color: var(--color-primary);
}

a {
  text-decoration: none;
}

.wrapper {
  width: min(1160px, 100% - 4rem);
  margin-inline: auto;
}

nav {
  margin-bottom: 2rem;

  .wrapper {
    padding-block: 2rem;
  }
}

#logo {
  svg {
    height: 1.5rem;
    width: auto;

    path {
      fill: var(--color-secondary);
    }

    path:nth-child(-n + 2) {
      fill: var(--color-accent-primary);
    }
  }
}

header {
  margin-bottom: 4rem;

  h1 {
    /* font-size: 1.75rem; */
    margin-bottom: 0.75rem;
    color: var(--color-accent-primary);
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .coming-soon {
    width: min(768px, 100% - 4rem);
    margin-top: 3rem;
    font-size: 14px;
  }
}

.project {
  h1 {
    margin-bottom: 0.75rem;
    position: relative;
    width: fit-content;
  }

  p {
    margin-bottom: 1rem;
  }

  .project-container {
    width: min(768px, 100%);
  }
}

/*
  1. TASKS
======================================================
*/
.tasks-container {
  background-color: var(--color-dark-500);
  border-radius: 5px;
  padding: 1rem;

  span {
    display: block;
    font-size: 13px;
    margin-bottom: 0.751rem;

    i {
      display: block;
      margin-top: 0.5rem;
    }
  }

  .input-field {
    display: flex;
    gap: 0.5rem;

    input {
      /* 6ffc79 */
      background-color: var(--color-dark-300);
      border: none;
      color: var(--color-text);
      border-radius: 5px;
      width: 100%;
      padding: 0.5rem;
    }
  }

  .btn {
    background-color: var(--color-accent-green-500);
    border: none;
    color: var(--color-primary);
    border-radius: 5px;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
  }

  .btn:hover {
    cursor: pointer;
  }
}

.tasks {
  list-style-type: none;
  padding: 0;

  .task {
    border-bottom: 1px solid var(--color-dark-200);
    padding: 0.5rem;
  }
}

/*
========================================
 */
@media (prefers-color-scheme: dark) {
  :root {
    --color-dark-900: hsl(210, 4%, 8%);
    --color-dark-700: hsl(210, 4%, 10%);
    --color-dark-500: hsl(210, 4%, 15%);
    --color-dark-300: hsl(210, 4%, 20%);
    --color-dark-200: hsl(210, 4%, 25%);
    --color-dark-100: hsl(210, 4%, 30%);

    --color-primary: var(--color-dark-700);
    --color-secondary: #f2f5f7;

    --color-accent-primary: #7041fb;

    --color-accent-green-700: #2aa276;
    --color-accent-green-500: #32c08c;
    --color-accent-green-300: #41fab7;

    --color-white: #ffffff;
  }

  .btn {
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
    color: var(--color-secondary);
  }

  #logo svg * {
    fill: var(--color-secondary);
  }
}
